<div class="row">
    <div class="col-xs-2">            
        <a routerLink="/feed-new" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-primary">New Feed</a>
    </div> 
</div>
<div class="row">
    <ng-container *ngIf="isLoaded; else loading">
        <app-feed-item *ngFor="let item of feeds" [feedItem]="item">
        </app-feed-item>
    </ng-container>
    <ng-template #loading>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-warning" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>