<!-- display login and register buttons if user is logged in -->
<ion-item-group
  *ngIf=" !( auth.user$ | async ) ">
    
    <ion-button 
    (click)="auth.loginWithRedirect()"
    color="primary">
     Log In
    </ion-button>
</ion-item-group>

<!-- display the avatar if user is logged in -->
<ion-item-group
  *ngIf=" ( auth.user$ | async ) ">
  <ion-button 
  color="secondary">
    {{( auth.user$ | async ).name }}
  </ion-button>
  <ion-button 
  (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })"
  color="primary">
    Log Out
  </ion-button>
</ion-item-group>